@font-face {
  font-family: 'RepoRegular';
  src: url("../fonts/Repo.otf");
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font: 100% "RepoRegular";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2a;
}

header, footer {
  background-color: #a32720;
  color: #cbac6a;
  width: 100%;
  padding: .6rem 0;
}

header {
  position: fixed;
  border-bottom: 3px solid #cbac6a;
  z-index: 9;
  animation: navSlow ease .5s;
}

@keyframes navSlow {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 922px) and (orientation: landscape) {
  header {
    position: absolute;
  }
}

footer {
  margin-top: auto;
  border-top: 3px solid #cbac6a;
}

main {
  color: #aea28f;
  padding: 6rem 8rem;

}

@media screen and (max-width: 1023px) {
  main {
    padding: 3rem 1rem;
  }
}

.nav, .foot-all, .categories, .item-all {
  display: flex;
  justify-content: space-between;
  padding: 0 8rem
}

@media screen and (max-width: 812px) {
  .nav, .foot-all, .categories, .item-all {
    padding: 0 1rem;
  }
}

.nav {
  align-items: center;
}

.nav-left, .nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 30%;
}

@media screen and (max-width: 992px) {
  .nav-left, .nav-right {
    display: none;
  }
}

.foot-all {
  flex-direction: row;
}

@media screen and (max-width: 992px) and (orientation: portrait) {
  .foot-all {
    flex-direction: column;
    align-items: start;
  }
}

.foot-left, .foot-right {
  width: 45%;
}

@media screen and (max-width: 992px) and (orientation: portrait) {
  .foot-left, .foot-right {
    width: 100%;
  }
}

h1, h2, h3, h4, .price, legend {
  font-weight: 700;
  color: #cbac6a;
}

p, .empty {
  font-size: calc(12px + 6 * (100vw / 1920));
  font-weight: 300;
}

.empty {
  color: #cbac6a;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  text-decoration: underline;
}

h1 {
  font-size: calc(24px + 36 * (100vw / 1920));
}

h2 {
  font-size: calc(18px + 24 * (100vw / 1920));
}

h3, .price {
  font-size: calc(16px + 22 * (100vw / 1920));
}

h4 {
  font-size: calc(14px + 20 * (100vw / 1920));
}

.price {
  margin: 1em 0;
}

.menu-link {
  display: inline-block;
  position: relative;
  font-size: 1.4vw;
  list-style-type: none;
}

.menu-link:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #cbac6a;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu-link:hover:after {
  width: 100%;
  left: 0;
}

.category-title, .product-title, .product-small {
  background: rgba(203, 172, 106, 0.6);
  position: absolute;
  color: #ffffff;
  padding: 0.4em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.product-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #a32720;
  color: #ffffff;
  font-size: calc(16px + 4 * (100vw / 1920));
  font-weight: 400;
  padding: 0.5rem;
  z-index: 2;
}

.category-title {
  font-size: calc(24px + 12 * (100vw / 1920));
  font-weight: 600;
}

.product-title {
  font-size: calc(14px + 8 * (100vw / 1920));
  font-weight: 400;
}

.product-small {
  font-size: calc(12px + 6 * (100vw / 1920));
  font-weight: 400;
}

.heading {
  text-align: center;
  margin-top: 4rem;
}

.txt-2col {
  column-count: 2;
  column-gap: 1.6em;
  column-width: auto;
}

.txt-2col p {
  margin-top: 0;
  widows: 2;
}

@media screen and (max-width: 767px) {
  .txt-2col {
    column-count: 1;
  }
}

.article, .item-all {
  display: flex;
  flex-direction: row;
  border: 2px solid #aea28f;
  padding: 3vh 3vw;
}

@media screen and (max-width: 767px) {
  .article, .item-all {
    flex-direction: column-reverse;
    border: none;
    padding: 0;
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  .article, .item-all {
    flex-direction: row;
    border: none;
  }
}

.item-left, .item-right {
  width: 45%;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .item-left, .item-right {
    width: 100%;
  }
}

.item-text {
  height: auto;
}

.product-category {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .product-category {
    grid-template-columns: 1fr;
  }
}

.product-like-this {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3vw;
  margin-bottom: 4rem;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .product-like-this {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  transition: all .4s ease-in-out;
}

.product:hover {
  transition: all .4s ease-in-out;
  transform: translateY(-.5rem);
  cursor: pointer;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .product {
    transform: none;
  }
}

#about::before {
  display: block;
  content: " ";
  margin-top: -8vh;
  height: 8vh;
  visibility: hidden;
  pointer-events: none;
}

.product, #about, .article, .item-all {
  animation: goodsCat ease 1s;
}

@keyframes goodsCat {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.product-ordered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .4rem;
  border: 1px solid #aea28f;
  margin-bottom: 1rem;
}

.product-ordered:nth-child() {
  margin-bottom: 1rem;
}

.ordered-img {
  width: 25%;
}

.ordered-img img, .nav-logo img, .product-image, .ordered-img img {
  max-width: 100%;
}

.ordered-item {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.ordered-title {
  font-size: calc(12px + 6 * (100vw / 1920));
  font-weight: 600;
  color: #cbac6a;
}

.ordered-price {
  font-size: calc(14px + 16 * (100vw / 1920));
  font-weight: 300;
  color: #cbac6a;
}

.ordered-remove {
  width: 5%;
  padding-top: .5rem;
}

.ordered-remove .fa {
  font-size: calc(16px + 6 * (100vw / 1920));
  font-weight: 600;
  color: #aea28f;
}

.ordered-remove .fa:hover {
  color: #cbac6a;
  transition: .5s ease 0s;
  cursor: pointer;
}

.price-total {
  font-size: calc(14px + 16 * (100vw / 1920));
  font-weight: 300;
  color: #aea28f;
  margin: 1.5rem 0;
}

.nav-logo {
  width: 5%;
}

@media screen and (max-width: 735px) {
  .nav-logo {
    width: 10%;
    text-align: left;
  }
}

.product-image {
  position: absolute;
  vertical-align: bottom;
}

.ordered-img {
  width: 15%;
}

.form_body {
  position: relative;
}

.form_body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(203, 172, 106, 0.4) url("../img/giphy.gif") center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease 0s;
}

.form_body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form_input {
  border: 0.104vw solid #aea28f;
  border-radius: 0.156vw;
  background-color: #2b2b2a;
  color: #aea28f;
  width: 99%;
  margin-bottom: 0.625vw;
}

.form_input:focus {
  border: 0.2rem solid #aea28f;
}

textarea {
  resize: vertical;
  outline: none;
}

input[type=text], input[type=tel] {
  height: 2.6em;
  outline: none;
}

input.error {
  border: 0.2rem solid #a32720;
}

input::placeholder, textarea::placeholder {
  font: 100% "RepoRegular";
  font-size: 1rem;
}

.checkbox_input {
  display: none;
}

.checkbox_input:checked+.checkbox_label::after {
  transform: scale(1);
}

.checkbox_label {
  font-size: 1em;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox_label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 22px;
  height: 22px;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}

.checkbox_label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 4px;
  background-color: #cbac6a;
  transform: scale(0);
}

.checkbox_label a {
  text-decoration: underline;
}

button {
  background-color: #aea28f;
  color: #ffffff;
  font: 100% "RepoRegular";
  font-weight: 600;
  margin-top: .5em;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #cbac6a;
  transition: background-color 0.5s ease 0s;
}

.form_button {
  width: 100%;
}

.form_button, .order_button {
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.3rem;
}

.filter_heading {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.filter_button_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter_button {
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  width: 6.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.filter_button::before, .filter_button::after {
  content: "";
  position: absolute;
  bottom: -.4rem;
  width: 0;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #aea28f;
}

.filter_button::before {
  left: 50%;
}

.filter_button::after {
  right: 50%;
}

.filter_button:hover::before, .filter_button:hover::after {
  width: 50%;
  opacity: 1;
}

.scrollToTop {
  height: 60px;
  text-align: center;
  font-weight: bold;
  color: #cbac6a;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 1rem;
  z-index: 7;
  cursor: pointer;
}

.scrollToTop:hover {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #2b2b2a;
  color: #ffffff;
  z-index: 8;
  overflow: auto;
  transform: translate(-100%, 0px);
  transition: all 0.3s ease-in-out;
}

.sidebar ul {
  margin-top: 4rem;
}

.sidebar li {
  list-style-type: none;
  margin-bottom: 3rem;
}

.sidebar .side {
  font-size: calc(24px + 16 * (100vw / 1920));
}

._active {
  transform: translate(0px, 0px);
  transition: all 0.5s ease-in-out;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 992px) {
  .menu-icon {
    z-index: 9;
    display: block;
    position: relative;
    cursor: pointer;
  }
}

.swiper-container {
  width: 100%;
  height: auto;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  transition-property: transform;
}

.swiper-slide img {
  max-width: 100%;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

:root {
  --swiper-navigation-size: 44px;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: .5rem;
  height: .5rem;
  display: inline-block;
  border-radius: 50%;
  background: #aea28f;
  opacity: .6;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform, .2s left;
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform, .2s right;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}