@font-face {
  font-family: 'RepoRegular';
  src: url("../fonts/Repo.woff");
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font: 100% "RepoRegular";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2a;
}

main {
  color: #aea28f;
  padding: 6rem 8rem;

}

@media screen and (max-width: 767px) {
  main {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    padding: 3rem 2rem;
  }
}

.category-title, .product-title {
  background: rgba(203, 172, 106, 0.6);
  position: absolute;
  color: #ffffff;
  padding: 0.4em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.category-title {
  font-size: calc(24px + 12 * (100vw / 1920));
  font-weight: 600;
}

.product-title {
  font-size: calc(14px + 8 * (100vw / 1920));
  font-weight: 400;
}

.product-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #a32720;
  color: #ffffff;
  font-size: calc(16px + 4 * (100vw / 1920));
  font-weight: 400;
  padding: 0.5rem;
  z-index: 2;
}

.product-category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .product-category {
    grid-template-columns: 1fr;
  }
}

.product-image {
  max-width: 100%;
  position: absolute;
  vertical-align: bottom;
}

.product {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  transition: all .4s ease-in-out;
}

.product:hover {
  transition: all .4s ease-in-out;
  transform: translateY(-.5rem);
  cursor: pointer;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .product {
    transform: none;
  }
}

.product, #about, .article, .item-all {
  animation: goodsCat ease 1s;
}

@keyframes goodsCat {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.heading {
  text-align: center;
  margin-top: 4rem;
}

.article, .item-all, .order-all {
  display: flex;
  flex-direction: row;
  border: 2px solid #aea28f;
  padding: 3rem;
}

.item-all, .order-all {
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .item-all, .order-all {
    padding: 0 1rem;
  }

  .item-all {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .article, .item-all, .order-all {
    flex-direction: column-reverse;
    border: none;
    padding: 0;
  }

  .item-all {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .article, .item-all, .order-all {
    padding: 2rem;
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  .article, .item-all, .order-all {
    flex-direction: row;
    border: none;
  }
}

.item-left, .item-right {
  width: 46%;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .item-left, .item-right {
    width: 100%;
  }
}

h1, h2, h3, h4, .price, legend {
  font-weight: 700;
  color: #cbac6a;
}

h1 {
  font-size: calc(24px + 36 * (100vw / 1920));
}

h2 {
  font-size: calc(18px + 24 * (100vw / 1920));
}

h3, .price {
  font-size: calc(16px + 22 * (100vw / 1920));
}

h4 {
  font-size: calc(14px + 20 * (100vw / 1920));
}

.price {
  margin: 1em 0;
}

p, .empty {
  font-size: calc(12px + 6 * (100vw / 1920));
  font-weight: 300;
}

.empty {
  color: #cbac6a;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  text-decoration: underline;
}