<template>
    
    <div id="about" class="heading">
        <h2>Хто такий Плетений КіТ та до чого тут реінкарнація?</h2>
    </div>
    <div class="article">
      <div id="bottom_txt" class="txt-2col">
        <p>Плетений КіТ - сімейне хоббі, яке ми назвали так з любові до ручної роботи та, звісно, котів. Веду всю онлайнщину я, Маргарита. Моя мама (Єлизавета) все життя любила плести і в дитинстві половину мого гардеробу складали плетені речі. На якийсь час вона відклала своє хобі із-за роботи і повернулась до нього в останні кілька років.</p>
        <p>Обрала вона - плести інтер'єрні подушки, побачивши в пінтересті купу гарних фото, а я пообіцяла допомогти з їх зшиванням, бо займалась багато років виготовленням м'яких іграшок і трохи то всьо вмію. Для роботи вона мала вдосталь залишків ниток від попередніх робіт, пороспускала светри, які колись не доплела, чи мала переробити і так почали з'являтись перші КотоПодушки. Мама відправляла мені деталі (живемо в різних містах), я шила, набивала та вишивала котоЛиця, фотографувала і викладала їх в інтернеті.</p>
        <p>Обкластись плетеним не входило в наші плани, тож я спочатку просто заливала подушки-іграшки на різні сайти для продажу хендмейду, а потім нам захотілось взяти участь в якомусь з ярмарків, і потрібно було мати сторінку бренду та назву. Ми дуже любимо тварин і маємо котів, першими подушками були КотоПодушки, тож назва прийшла сама собою.</p>
      </div>
    </div>

</template>

<script>
export default {
  
}
</script>

<style>
#about::before {
  display: block;
  content: " ";
  margin-top: -4rem;
  height: 4rem;
  visibility: hidden;
  pointer-events: none;
}

.txt-2col {
  column-count: 2;
  column-gap: 1.6em;
  column-width: auto;
}

.txt-2col p {
  margin-top: 0;
  widows: 2;
}

@media screen and (max-width: 767px) {
  .txt-2col {
    column-count: 1;
  }
}
</style>